# Loading data into Pandas

In [ ]:
import pandas as pd
df= pd.read_csv('pokemon_data.csv')
# head() fxn gives the head of the df, argument can specify the number of rows we want to see from the top of the df.
df.head()
print(df.head())
# tail() fxn gives the tail of the df, argument can specify the number of rows we want to see from the bottom of the df.
print(df.tail())
print(df.columns)
# shape gives the count of rows and columns, if the index of the array is 0: Rows; if 1: Columns
df.shape[0]
# I can also use length function for the index of the data frame.
len(df.index)
df[['Name']]

In [ ]:
df2 = pd.read_csv('User list.csv')
print(df2.columns)
# df2[["FULL_NAME", "EMAIL1", "POSITION_ID"]]
# Assign works as Aliasing in SQL; Refer pandas documentation
df2.assign(division = 45467/df2["POSITION_ID"])
df2.head()
print(df2['FULL_NAME'] == 'Jim Broker')
df2.loc[df2['FULL_NAME'] == 'Jim Broker'] # Read specific cells
df2[(df2['FULL_NAME'] == 'Jim Broker') | (df2['FULL_NAME'] == 'Manoj Shah')] # Read specific cells on multiple OR conditions

# Reading Data in Pandas

In [ ]:
df[['Name', 'HP']][0:3] #Use double brackets to enclose column names and then enter row sequence you want to see

In [ ]:
print(df.iloc[2,4]) ##Check exact cell by mentioning the co-ordinates

In [ ]:
print(df.iloc[2]) ##Check called row
x=1
df2 = df.iloc[0]
while x<100:
    df1 = df.iloc[x]
    df2 = pd.concat([df2, df1], axis=0)
    df2.dropna()
    x+=1
df2.to_excel('modifiednew2.xlsx', index = False)

In [ ]:
for index, row in df.iterrows():
    print(row) # This for loop helped iterate iloc[i] multiple times i.e. shows every row one by one. The logic I wrote in the above while loop became simple with this:
for index, row in df.iterrows():
    print(row) 
df2.to_excel('modifiednew2.xlsx', index = False)

In [ ]:
df.loc[df['Legendary'] == True] #Used to find all rows with specific search key from the mentioned column

In [ ]:
df.loc[(df['Legendary'] == False) & (df['Type 2'] == 'Fairy')]  #Used to find all rows with specific search key from the mentioned column

In [ ]:
print(df.iloc[3,2])

In [ ]:
df['Name']

# Use of describe to get Count, Mean, Std. Dev etc on all numeric Columns

In [ ]:
 df.describe()

# Sort Data in Columns

In [ ]:
df2.sort_values(['FULL_NAME'])
df2.sort_values(['FULL_NAME', 'POSITION_ID'], ascending = [1,0])

In [ ]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Speed'] # can simply create a new column in the df
df.assign(Total = df['HP'] + df['Attack'] + df['Defense'] + df['Speed']) #used assign function to assign a name to an expression
df.head(5)

# Drop Column/s

In [ ]:
df.drop(columns = ['Total'])

# Create New Column based on a Formula (Sum)

In [ ]:
df['Total'] = df.iloc[:,4:10].sum(axis=1)
df

# Way to show sequence of columns in the desired sequence

In [ ]:
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]] # Way to show sequence of columns in the desired sequence
df

# Save output to a file

In [ ]:
df.to_csv('modified.csv', index = False)

In [ ]:
df.to_excel('modifiedexcel.xlsx', index = False)

In [ ]:
df.to_csv('modified.csv', index = False)

In [ ]:
df2.describe()

# Conditional Filtering and use of Str.Contains function to filter keywords.

In [ ]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df.reset_index(drop=True, inplace=True) #Inplace is used to make changes to DF on the fly rather than storing it in a new container.
new_df

In [ ]:
import re
df.loc[df['Name'].str.contains('^om[a-z]*', flags=re.I,  regex = True)]
#flags=re.I is meant to ignore Case Sensitive. One can use python upper() inbuilt function as well

# Conditional Changes

In [ ]:
df.loc[df['Type 1'] == 'Buggy' , 'Type 1'] = 'Bug'
df.loc[df['Name'].str.contains('^d[a-z]*'.upper(), flags=re.I,  regex = True)]

In [ ]:
df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['1',False]

In [ ]:
df.loc[df['Total'] > 500]

# Group By Function to Group Rows

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Attack', ascending = 0)

In [ ]:
print(df.groupby(['Type 1']).sum().sort_values('Attack', ascending = 0))
print(df.groupby(['Type 1']).count().sort_values('Attack', ascending = 0))

In [ ]:
df['Count'] = 1
df.groupby(['Type 1']).count()['Count']

# Handling Data from Large Files in Smaller Chunks

In [ ]:
# for df in pd.read_csv('modified.csv', chunksize = 5):
#     print("DATA FRAME: ")
#     print(df)
new_df = pd.DataFrame(columns=df.columns)
for df in pd.read_csv('pokemon_data.csv', chunksize=50):
    results = df.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, results])
new_df.drop(columns = ['Type 1'])

In [ ]:
df2.iloc[0:2]